// SIGNIN-MODAL
#signinModal.modal.fade
  .modal-dialog
    .modal-content.bg-dark.text-light
      .modal-header
        h5.modal-title Sign In
        button.close.text-light(data-dismiss='modal')
          span &times;
      .modal-body
        form(action='/user/signin' method="POST")
          if hasErrors
            each message in messages
              .alert.alert-danger
                p=message
          input(type="hidden" name="_csrf", value=csrfToken)
          .form-group
            label(for='email') Email
            input.form-control.bg-dark.text-white(type='email' name="email")
          .form-group
            label(for='password') Password
            input.form-control.bg-dark.text-white(type='password' name="password")
          input.btn.btn-secondary.btn-block(type='Submit' value="Submit")
      p.d-block.mx-auto
        | Not registered? 
        a(href='/user/signup') Sign Up Now