include ./includes/head
body
  include ./includes/navbar
  section#anime-section.mt-2.bg-dark.py-2
    .container
      .row
        .col.text-white
          h1.display-3 Page Not Found
          p.lead The page you were looking for doesn't exist!
  include ./includes/footer
  include ./includes/modals
  include ./includes/scripts
