mixin showAnime(searchResultData)
  .col
    .card-group.bg-dark.text-white.my-1
      each anime in searchResultData
        a.card.px-1.bg-dark.text-white(href="/anime/"+anime.id)
          img.card-img-top(src=anime.attributes.posterImage.original alt='Card image cap' height='340')
          .card-body.text-center
            p.h4= anime.attributes.canonicalTitle
            small Rating: #{parseFloat(anime.attributes.averageRating/10).toFixed(2)}

include ../includes/head
body
  nav.navbar.py-2.navbar-expand-sm.navbar-dark.bg-dark.border-bottom.border-secondary.fixed-top
    .container
      a.navbar-brand(href='/')
        i.fas.fa-anchor.fa-2x
        h1.h2.d-inline AnimeList
      button.navbar-toggler(data-toggle='collapse' data-target='#navbarNav')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            if login
              a.nav-link(href='/user/profile')
                i.fas.fa-user
                |  Profile
            else
              a.nav-link(href='#' data-toggle='modal' data-target='#signinModal')
                i.fas.fa-user
                |  Sign In

  //- SEARCH SECTION
  section
    .container
      .row.justify-content-center
        .col-md-8
          form(action='/anime/search' method='POST').form-inline.mx-auto
            input(type="hidden" name="_csrf", value=csrfToken)
            input#search-input.form-control.form-control-lg(type='text' name='searchQuery' placeholder='Search')
            input(type="Submit" value="Search").btn.btn-outline-light.btn-lg
      .row.mt-3
        +showAnime(searchResults.data.slice(0,4))
      .row
        +showAnime(searchResults.data.slice(4,8))
      .row
        +showAnime(searchResults.data.slice(8,12))
      .row
        +showAnime(searchResults.data.slice(12,16))
        

  include ../includes/footer
  include ../includes/modals
  include ../includes/scripts
